.cities_datalist {
    /* position: absolute; */
    max-height: 20em;
    border: 0 none;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    background-color: red;
}

.cities_datalist option {
    font-size: 0.8em;
    padding: 0.3em 1em;
    background-color: rgb(194, 17, 17);
    cursor: pointer;
}


/* option active styles */

.cities_datalist option:hover,
.cities_datalist option:focus {
    color: #fff;
    background-color: #036;
    outline: 0 none;
}