.rsm-svg {
    /* display: inline-block;
    vertical-align: middle; */
    width: 500px;
    height: 150px;
}

.rsm-geographies {
    width: 500px;
    height: 200px;
}

.text {
    font-size: 70px;
}


/* .g_style {
    width: 50px;
    height: 50px;
} */