.App {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(158, 104, 4);
    height: 100px;
    margin-top: 50px;
}